@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(http://fonts.googleapis.com/css?family=Lora);
h1 {
	color:white;
	font-family: 'Lora', serif;
}

p {
	color:#800000;
	font-family: arial;
	padding: 15px;
}
 

#abc {
	font-size: 50pt;
	outline-color: red;
}
#home {
	background-color: white;
}

#home h1{
	margin: 15px;
}

body { 
  background: url(bg1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#con {
	background-color: white;
	padding: 15px;
	max-width: 100%;
}
/*guide*/
#guide {
	max-width: 100%;
	text-align: center;
	font-size: 60pt;
	margin-left: 15px;
	margin-right: 15px;
}
#guide a {
	color:#800000 ; 
}
#guide a:hover {

	color: white;
}

#navBarli{
	float: left;

}

#navBar a:link, a:visited {
    color: black;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding:0px;
}
#navBar a:hover, a:active {

}
#navBar, #navbar:hover  {
	display: block;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	background-color: grey;
	width: 100%;	
	list-style-type: none;
	padding-bottom:40px;
}
#dropbox {
	float: left;
	display: block;
	padding:0px;
	overflow: default;
	background-color:grey;
	color: grey;
}
#FCE {
	color:#800000;
}
#conboard {
	max-width: 200px;
	margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    overflow: hidden;
    transform: translate(-50%); 
    overflow: hidden;

}
